main {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}

canvas {
  border: 1px solid #fff;
  background-color: #000;
}

#footer {
    height: 40px; 
    width: 100%; 
}

:root {
  --shield-stroke: cyan;
  --planet-fill: blue;
  --player-fill: orange;
  --timer-fill: white;
  --gameover-fill: rgba(0,0,0,0.8);
  --gameover-text: red;
  --asteroid-fill: lightgray;
  --blast-stroke: deeppink;
}

:root {
  --health-high: green;
  --health-medium: yellow;
  --health-low: red;
}


