@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Playfair:opsz@5..1200&family=Poppins:ital,wght@0,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-colour: #ff9f0d;
  --text-colour: #fff;
  --other-colour: #212121;
  --second-colour: #9e9e9e;
  --bg-colour: #000000;
  --nav-colour: #1a1e21;

  --big-font: 4.5rem;
  --h-font: 2.6rem;
  --p-font: 1.1rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-colour);
  padding: 30px 14%;
  transition: all 0.5s ease;
}

header.sticky {
  padding: 12px 14%;
  background: var(--other-colour);
}

.logo {
  display: flex;
  align-items: center;
  color: var(--text-colour);
  font-size: 33px;
  font-weight: 700;
}

.logo i {
  vertical-align: middle;
  margin-right: 8px;
  color: var(--main-colour);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--text-colour);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: var(--main-colour);
}

.navlist a.active {
  color: var(--main-colour);
}

.nav-icon {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background: var(--main-colour);
  border-radius: 3rem;
  box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icon i {
  vertical-align: middle;
  font-size: 25px;
  color: var(--bg-colour);
  margin-right: 8px;
  margin-left: 5px;
  transition: all 0.5s ease;
}

#menu-icon {
  font-size: 32px;
  color: var(--bg-colour);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: var(--text-colour);
}

.scroll {
  position: fixed;
  bottom: 2.2rem;
  border-top: 2rem;
  right: 3.2rem;
}

.scroll i {
  font-size: 22px;
  color: var(--text-colour);
  background: var(--main-colour);
  padding: 10px;
  border-radius: 2rem;
}

@media (max-width: 1545px) {
  header {
    padding: 22px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 14px 4%;
    transition: 0.2s;
  }
}

@media (max-width: 1180px) {
  :root {
    --big-font: 4rem;
    --h-font: 2.2rem;
    --p-font: 15px;
  }
}

@media (max-width: 1060px) {
  #menu-icon {
    display: initial;
  }
  .navlist {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: var(--other-colour);
    transition: all 0.5s ease;
  }
  .navlist a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border-left: 2px solid var(--main-colour);
  }
  .navlist.open {
    top: 100%;
  }
}

@media (max-width: 1045px) {
  :root {
    --big-font: 4rem;
    --h-font: 2.2rem;
  }
}

@media (max-width: 475px) {
  :root {
    --big-font: 2.8rem;
    --h-font: 2rem;
  }
}

#footer {
  background: var(--other-colour);
  height: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 5%;
}

.footer-text p {
  font-size: var(--p-font);
  color: var(--text-colour);
}

#footer p,
#footer p a {
  padding-inline-end: 50px;
}

#footer p a {
  color: var(--main-colour);
}

.foot {
  color: var(--text-colour);
}

.navlist.open {
  display: block;
}