.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  position: relative;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: black;
}

.next {
  right: 0;
  left: 89%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#footer {
  position: relative;
  top: 70vh;
}


#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.post-header, .post-content.post-container, .scroll {
  flex: 1 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-height: 858px){
  #footer {
    position: relative;
    top: 80vh;
  }
}

@media (max-height: 772px){
  #footer {
    position: relative;
    top: 90vh;
  }
}

@media (max-height: 667px){
  #footer {
    position: relative;
    top: 100vh;
  }
}
@media (max-height: 600px){
  #footer {
    position: relative;
    top: 110vh;
  }
}

@media (max-height: 545px){
  #footer {
    position: relative;
    top: 120vh;
  }
}

@media (max-height: 500px){
  #footer {
    position: relative;
    top: 130vh;
  }
}

@media (max-height: 460px){
  #footer {
    position: relative;
    top: 140vh;
  }
}



