.center-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.graph-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

